
.title{
    border:solid;
color:rgb(202, 121, 0)
}
.Camels{
    border:solid;
color:darkgoldenrod
}
.Pigeon {
    border:solid;
    color:darkgoldenrod
  }
  .Panda {
    border:solid;
    color:darkgoldenrod
  }
  .Teddy {
    border:solid;
    color:darkgoldenrod
  }
  .Cicada {
    border:solid;
    color:darkgoldenrod
  }
  .Chameleon {
    border:solid;
    color:darkgoldenrod
  }
  h2{
      color:black
  }
  h1{
color:rgb(211, 127, 1)
  }
  .desiegn{
      display:flex;
   
      flex-direction: row;
      border:solid;
      color:peru   
        
  }
  body{
    columns: #ca8e1d;
  }
